[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-simpleui = "*"
django-extensions = "*"
requests = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.9"
